body{
    background: no-repeat center/190% url("https://static.vecteezy.com/system/resources/previews/002/228/640/non_2x/abstract-hexagons-black-on-a-black-and-gray-background-vector.jpg");
}

h1{
    color: white;
    font-size: 40px;
    color: #1FFF8A;
}

.tablero{
    text-align: center;  
}

.casilla{
    width: 150px;
    height: 150px;
	background-color: white;
    color: black;
    vertical-align: 50px;
    font-size: 100px;
    border-radius: 10px;
    text-align: center;
    border: solid#1FFF8A;
}

.terminar{
    text-align: center;
}

.btn_terminar{
    margin: 10px 0px;
    width: 200px;
    height: 30px;
    border-radius: 40px;
    background: #1FFF8A;
}