body{
    background: no-repeat center/190% url("https://static.vecteezy.com/system/resources/previews/002/228/640/non_2x/abstract-hexagons-black-on-a-black-and-gray-background-vector.jpg");
}

h1{
    color: white;
    font-size: 40px;
}
.tablero{
    text-align: center;
}

.casilla{
    width: 150px;
    height: 150px;
	background-color: white;
    vertical-align: text-bottom;
    color: black;
    font-size: 50px;
    border-radius: 10px;
}